@import "tailwindcss";

/* Light Theme */
:root {
  --bg: #f3f4f6;
  --card: #ffffff;
  --text: #111827;
  --border: #d1d5db;
}

/* Dark Theme */
.dark {
  --bg: #111827;
  --card: #1f2937;
  --text: #f9fafb;
  --border: #374151;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}